* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 10px;
}

html, body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    /* background-color: hsl(189, 41%, 97%); */
}

.header {
    text-align: center;
    padding-bottom: 1rem;
}

.calc {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.calc-left, .calc-right {
    width: 50%;
    min-height: 100%;
    align-self: stretch;
}

.calc-left {
    margin-right: 20px;
    margin-left: 15px;
}

.cl-input {
    margin-bottom: 2rem ;
}

.cl-input label, .cl-tips-title {
    font-size: 0.8rem;
    color: hsl(184, 14%, 56%);
    margin-bottom: 1rem;
}

.form-input {
    width: 100%;
    display: flex;
    background-color: hsl(189, 41%, 97%);
    padding: 0.6rem 0;
    border-radius: 5px;
    border: 2px solid transparent;
}

.form-input:hover,
.form-input:focus-within {
    border: 2px solid hsl(172, 67%, 45%);
    cursor: pointer
}

.form-input input {
    width: 100%;
    border: none;
    background: transparent;
    text-align: right;
    padding-right: 15px;
    font-weight: 700;
    font-size: 1.4rem;
    color: hsl(183, 100%, 15%);
}

.form-input input[type=number]::-webkit-inner-spin-button, 
.form-input input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.form-input input:focus {
    outline: none;
}

.form-input span {
    width: 45px;
    text-align: center;
    color: hsl(185, 41%, 84%);
}

.cl-tips {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-bottom: 2rem;
}

.cl-tip {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.cl-tip:hover, 
    .cl-tip:focus {
        background-color: hsl(172, 67%, 45%);
        color:hsl(183, 100%, 15%)
    }

    .cl-tip:active {
        background-color: hsl(172, 67%, 40%);
        color:hsl(183, 100%, 15%);
    }

.cl-tip-custom {
    color: hsl(183, 100%, 15%);
    background-color: transparent;
    padding: 0;
}

.cl-tip-custom .form-input input {
    font-size: 1.4rem;
    text-align: center;
    height: 100%;
}

.cl-tip-custom .form-input input:focus {
    text-align: right;
}

.cl-tip-custom:focus, 
.cl-tip-custom:hover {
    cursor: pointer;
    background-color: transparent;

}

.calc-right {
    background-color: hsl(183, 100%, 15%);
    padding: 2.8rem 2.5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px
}

.tip-info {
    display: flex;
    flex-direction: column;
}

.tip-info .tip-title {
    font-size: 0.8rem;
    color:hsl(0, 0%, 100%)
}

.tip-info .tip-subtitle {
    font-size: 0.6rem;
    color:hsl(189, 41%, 97%);
    opacity: 0.5;
}

.tip-amount {
    font-size: 2rem;
    color: hsl(172, 67%, 45%)
}

.tip-action {
}

.tip-reset-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: hsl(183, 100%, 21%);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    color: hsl(183, 100%, 15%);
}

.tip-reset-btn:hover {
    background-color: hsl(172, 67%, 45%);
}


@media screen and (max-width: 1009px) {
    html, body {
    }

    .calc {
        padding: 1.5rem 2rem;
    }

    .cl-tips {
        justify-content: center;
        gap: 10px;
    }

    .cl-tip {
        width: 29%;
    }

    .calc {
        flex-direction: column;
    }

    .calc-left, .calc-right {
        width: 100%;
        min-height: 100%;
        align-self: stretch;
    }

    .calc-left {
        margin-left: 0;
        margin-right: 0;
    }

    .cl-tip-custom .form-input input {
        font-size: 1rem;
        padding: 0.2rem;
        text-align: center;
        height: 100%;
    }

    .tip-action {
        margin-top: 3rem;
    }
    
}








/* Attribution Styles */
.attribution { 
    font-size: 11px;
    text-align: center;
    padding-top: 1rem;
 }

.attribution a {
    color: hsl(228, 45%, 44%);
}